h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat',sans-serif;
    margin: 0;
    text-transform: uppercase;
    line-height: 1em;
}

#introContainer {
    background-image: url(../images/laptop.svg);
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
}

#introTekst {
    text-align: center;
    align-self: flex-end;
}

a {
    text-decoration: none!important;
}