.navbar .navbar-nav li a {
    color: #233B37;
}

.navbar-toggler-icon {
    z-index: 10;
}

h1, h2, h3, h4, h5, h6 {
    color: #233B37;
    font-family: 'Montserrat',sans-serif;
    margin: 0;
    text-transform: uppercase;
    line-height: 1em;
}

#introContainer .vorm {
    position: absolute;
    right: -185px;
    max-width: none;
    top: -275px;
    z-index: -10;
}

#introTekst .btn-primary, #jobdag .btn-primary {
    color: #fff;
    background-color: #41907F;
    border-color: #41907F;
}

#introTekst {
    text-align: center;
    align-self: center;
}

.card-img-top {
    max-width: 300px!important;
}

a {
    text-decoration: none!important;
}

.card-img-top {
    max-width: 350px;
    margin: 0 auto;
}

@media (max-width: 767.98px) {
    #opleiding .img-fluid {
        max-height: 50px;
    }
}